    {{#if status}}
        <h4>Login Exitoso</h4>
        <p>Bienvenidos a la tiendita</p>
        
        <div class="embed-responsive embed-responsive-16by9">
            <p>Listado de productos  (Coming soon)    </p>
        </div>
    
    {{else}}
       <h4>Lo siento, no has iniciado sesión</h4>
    {{/if}}

